body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicio img{
    border-radius: 50%;
    border : 3px solid rgb(rgb(0, 255, 136))
}
h1{
    color: #ff0000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}